body{
  font-family: 'Ubuntu', sans-serif;
}
.main-container{
    margin: 0 auto;
    width: 95%;
    padding: 10px;
}
.container-carousel {
    margin-top: 6rem;
  }
  .no-click{
    pointer-events: none;
    text-align: center;
    font-weight: bold;
    color: #3b444b;
  }
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(25%);
  }
  .navbar .phone{
   color: #3499cc;
   position:absolute;
   right: 0;
}

.location{
padding: 10px;
color: #3499cc;
text-align: center;
font-size: 25px;
font-weight: bold;
}
.head{
  padding: 10px;
  color: #3499cc;
  text-align: center;
  font-size:25px;
  font-weight: bold;

  }
.mun{
  padding: 10px;
  color: #565656;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  }
.requirements{
  margin: 0 auto;
}
.container-info{
  padding: 10px;
}
.phone{
  text-align: center;
}
h1{
  color: #3499cc;
  font-weight: bold;
}
h3{
  color: #3499cc;
  font-size: 15px;
  font-weight: bold;
}
h2 {
  color: #3499cc;
  
}
p{
  color: #565656;
  margin: 0;
  font-weight: bold;
}
.lead{
  color: #565656;
  margin: 0;
  font-weight: normal;
  font-size: small;
  font-weight: bold;
}
footer{
  margin-bottom: 20px;
  font-weight: normal;
  font-size: small;
}
@media only screen and (max-width: 600px) {
  body {
  
  }
}
