body{
  font-family: 'Ubuntu', sans-serif;
}
.main-container{
    margin: 0 auto;
    padding: 10px;
}
.container-carousel {
    margin-top: 4rem;

  }
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(25%);
  }
  .navbar .phone{
   color: #2D67B2;
   position:absolute;
   right: 0;
}
.container-marketing{
  text-align: center;
  color:#2D67B2;
  font-weight: bold;
}
.location{
padding: 10px;
}
.container-info{
  padding: 10px;
}
h3{
  color: #2D67B2;
  font-size: 15px;
  font-weight: bold;
}
h2 {
  color: #2D67B2;
  
}
p{
  color: #565656;
  margin: 0;
  font-weight: bold;
}
.lead{
  color: #565656;
  margin: 0;
  font-weight: normal;
  font-size: small;
}
footer{
  margin-bottom: 20px;
  font-weight: normal;
  font-size: small;
}